h1{color:blue;}
p{color:red}
h1{font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;}
h1 {text-align: center;}
.centro {text-align: center;}
.derecha {text-align: right;}